body {
    text-align: center;
}

#keyboard {
    margin-top: 20px;
}

.key {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
}

#inputText {
    width: 300px;
    height: 30px;
    font-size: 16px;
}

#saveButton {
    margin-top: 10px;
    font-size: 16px;
}
